
.TodoEditorForm {
    display: flex;
    flex-direction: column;


    border: 2px solid black;
    width: 390px;
}

.TodoEditorForm__button {
    border-radius: 4px;
    background-color: darkseagreen;;
}